<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/recommendation" class="nav-link px-2 text-white">Recommendation</a></li>
        <li><a href="/character" class="nav-link px-2 text-white">Character</a></li>
        <li><a href="/episodes" class="nav-link px-2 text-white">Episodes</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <div class="input-group">
          <input
            type="search"
            class="form-control form-control-dark text-bg-white"
            placeholder="Search..."
            aria-label="Search"
          />
          <span class="input-group-text bg-white">
            <svg style="color: yellow;"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 6a5 5 0 1 1-1.001-9.999A5 5 0 0 1 11 6zm-1 0a4 4 0 1 0-8 0 4 4 0 0 0 8 0zm6.293 10.293-3.387-3.387A6.978 6.978 0 0 0 13 6a7 7 0 1 0-7 7 6.978 6.978 0 0 0 3.906-1.094l3.387 3.387a1 1 0 0 0 1.414-1.414z"
              />
            </svg>
          </span>
        </div>
      </form>
    </div>
  </div>
</header>
